<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap 3  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="/js/jquery-3.4.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand">Home</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Taro Oppa</a>
        </li>
      </ul>
    </nav>
    <div class="template-nodejs">
      <h3>Taro Oppa</h3>
      <img id="girlfriend" src="images/jisoo3.jpg" alt="jisoo">
      <p>She is my girlfriend.</br>She is so pretty</p>
    </div>
  </div>
</body>

</html>